@use '../base/_reset';
@use '../base/_variables';
@use '../base/_utility-classes';


.archive{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding-inline: 64px;
    @include reset.atSmallMedium {    
        padding-inline: 16px;
    }
    @include utility-classes.typography(16px, 400, 1.5, variables.$font-primary);
    &__posts{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }

}
.banner{
    background-color: variables.$surface-black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 32px 64px;
    @include reset.atSmallMedium {    
        padding-inline: 16px;
    }

    &__title{
        @include utility-classes.typography(32px, 800, 1.5);
    }
    &__description{
        @include utility-classes.typography(24px, 500, 1.5);
        color: rgb(131, 131, 131);
    }
}

.pagination{
    display: flex;
    margin-bottom: 32px;
    @include reset.atSmallMedium {    
        flex-wrap: wrap;
    }
    &__link{
        padding: 8px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
    }
    &__link:last-child{
        border: 1px solid black;
    }
}