@use '_variables';
@use '_reset';

.hidden{
    display:none;
}

.margin-deffisit{
  margin-bottom:variables.$header-height-pc;
  @include reset.atSmallMedium {    
    margin-bottom:variables.$header-height-mobile;
  }
}

@mixin typography($size, $weight: 400, $line-height: 1.5, $font: variables.$font-primary) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

.section__heading{
  @include typography(20px, 900);
  margin-bottom: 32px;
  width: 100%;
}

.color-invert{
  color: white;
}